*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.body{
    overflow:hidden;
}

.c-white{
    color: white
}

.ms_bg_nav{
    background-color: #3a546d;
}

.ms_bg_foot{
    background-color: #4c7091;
}

.w90{
    width: 90%;
}

.w80{
    width: 80%;
}

.w70{
    width: 70%;
}

.w60{
    width: 60%;
}

.w50{
    width: 50%;
}

.w40{
    width: 40%;
}

.ms_section_green{
    color: white;
    background-color: #1ABC9C;
}

.ms_img{
    width: 250px;
}

.ms_star{
    max-width: 400px;
    width: 100%;
    color: white;
}

.ms_star i{
    vertical-align: middle;
}

.ms_star:before,
.ms_star:after{
    content:"";
    display: inline-block;
    width: 15%;
    height: 3px;
    line-height: 4px;
    background-color: white;
    vertical-align: middle;
    border-radius: 5px;
}

.ms_star_blk:before,
.ms_star_blk:after{
    content:"";
    display: inline-block;
    width: 15%;
    height: 3px;
    line-height: 4px;
    background-color: black;
    vertical-align: middle;
    border-radius: 5px;
}

.ms_star_blk{
    max-width: 400px;
    width: 100%;
    color: black;
}

.ms_mrga{
    margin: 0 auto;
}

.ms_btn_w{
    color: white;
    border-color: white;
}

.ms_brd_contact{
    border: 0;
    border-bottom: solid 1px;
}

.ms_hw_textarea{
    width: 100%;
    min-height: 200px;
}

.ms_send{
    padding-bottom: 30px;
}

.ms_bord_rad{
    border-radius: 10px;
}